@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    border: none;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 800px;
    background-image: radial-gradient(circle at 50% -20.71%, #a03e8e 0, #882b86 25%, #6b107b 50%, #4b0070 75%, #280069 100%);
}

.text{
    margin-right: 50px;
}

h2:first-child{
    margin-bottom: 15px;
}

.text h2{
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.text .sub{
    color: #f8c304;
}

.text p{
    color: #cccccc;
}

#frist{
    margin-top:15px
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    width: 250px;
    height: 300px;
    border-radius: 20px;
}

.login #title{
    font-weight: bold;
    font-size: 25px;
    color: #a3a3a3;
    margin-bottom: 20px;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input{
    border-bottom: solid;
    border-color: #6b107b;
    transition: border 0.5s;
}

input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
    border-color: #f8c304;
}

.input:focus-within .material-symbols-outlined{
    color: #f8c304;
}

.material-symbols-outlined{
    color: #6b107b;
    transition: color 0.5s;
}


button{
    padding: 10px;
    width:100px;
    border-radius: 10px;
    background-color: #f8c304;
    font-weight: bold;
    color: white;
    cursor:pointer;
}

.singUp{
    margin-top: 20px;
}

.singUp span{
    color: #cccccc;
}

.singUp #singUp{
    color: white;
    cursor: pointer;
}

/* Para telas menores que 1024px (tablets em modo paisagem) */
@media only screen and (max-width: 1024px) {
    .box {
        width: 80%; /* Ajusta a largura da caixa para 80% da largura da tela */
    }
    .text h2 {
        font-size: 32px; /* Reduz o tamanho do título */
    }
    .sub {
        font-size: 24px; /* Reduz o tamanho do subtitulo */
    }
}

/* Para telas entre 960px e 768px (tablets em modo paisagem e desktops pequenos) */
@media only screen and (max-width: 960px) {
    .box {
        width: 85%; /* Ajusta a largura da caixa para 85% da largura da tela */
    }
    .text h2 {
        font-size: 28px; /* Reduz o tamanho do título */
    }
    .sub {
        font-size: 20px; /* Reduz o tamanho do subtitulo */
    }
}

/* Para telas menores que 768px (tablets e smartphones em modo paisagem) */
@media only screen and (max-width: 768px) {
    .box {
        width: 90%; /* Ajusta a largura da caixa para 90% da largura da tela */
    }
    .right {
        flex-direction: column; /* Altera a direção do flexbox para empilhar os elementos verticalmente */
        align-items: center; /* Centraliza os elementos verticalmente */
    }
    .login {
        max-width: 90%; /* Ajusta a largura do formulário de login para 90% da largura da tela */
    }
    .text h2 {
        font-size: 30px; /* Reduz o tamanho do título */
    }
    .sub {
        font-size: 22px; /* Reduz o tamanho do subtitulo */
    }
}

@media only screen and (max-width: 661px){
    .login{
        max-width: 80%;
    }
}

@media only screen and (max-width: 582px){
    .text h2{
        font-size: 20px;
    }
}

@media only screen and (max-width: 520px){
    .text h2{
        font-size: 15px;
    }
}

@media only screen and (max-width: 500px){
    .login{
        max-width: 75%;
    }
}

/* Para telas entre 480px e 400px (smartphones em modo retrato em dispositivos de tamanho médio) */
@media only screen and (max-width: 480px) {
    .box {
        width: 90%; /* Ajusta a largura da caixa para 90% da largura da tela */
    }
    .text h2 {
        font-size: 20px; /* Reduz o tamanho do título */
    }
    .sub {
        font-size: 18px; /* Reduz o tamanho do subtitulo */
    }
    .login {
        width: 90%; /* Ajusta a largura do formulário de login para 90% da largura da tela */
    }
    .input {
        margin-bottom: 10px; /* Reduz o espaçamento entre os inputs */
    }
    input, button {
        width: calc(100% - 20px); /* Ajusta a largura dos inputs e botões para 100% menos 20px de padding */
    }
}

/* Para telas entre 440px e 360px (smartphones em modo retrato em dispositivos menores) */
@media only screen and (max-width: 440px) {
    .box {
        width: 90%; /* Ajusta a largura da caixa para 90% da largura da tela */
    }
    .text h2 {
        font-size: 20px; /* Reduz ainda mais o tamanho do título */
    }
    .sub {
        font-size: 10px; /* Reduz ainda mais o tamanho do subtitulo */
    }
    .login {
        width: 70%; /* Ajusta a largura do formulário de login para 90% da largura da tela */
    }
}

